pandas
numpy
python-dateutil

streamlit
streamlit-option-menu
altair
pydeck
matplotlib
plotly

langchain
langchain-core
langchain-community
langchain-openai
langsmith
tiktoken

pymupdf
pypdf
pdfminer.six

requests
urllib3
beautifulsoup4==4.12.3
reportlab

sqlalchemy

python-dotenv
tabulate
